# Arch Wiki Credentials Configuration
# Copy this file to archwiki_credentials.conf and fill in your credentials
# NEVER commit your actual credentials to version control!

# Your Arch Wiki username
USERNAME=MadGoatHaz

# Your Arch Wiki password
PASSWORD=S8zDJcRj52C4WGV
